.songs-list-container {
    display: flex;
    flex-direction: column;
    padding: 2% 5% 4%;
    margin-top: 2%;

    .badges-container {
        display: flex;
    }

    .input-search {
        width: 100%;
    }

    .songs-list {
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
        width: 100%;

        > mat-list-item {
            background-color: #444444;
        }

        > mat-list-item:nth-child(odd) {
            background-color: #3d3d3d;
        }
    }

    mat-list.songs-list.mat-list {
        max-height: 80vh;
        overflow: auto; 
    }
}    

.spinner-container {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 8%;
}