<div *ngIf="songs && nameCurrentArtist && songs.length > 0" class="songs-list-container">

    <div *ngIf="nameCurrentArtist" class="badges-container">
        <badge-item [text]="nameCurrentArtist"></badge-item>
    </div>

    <mat-form-field class="input-search">
        <input [(ngModel)]="searchText" (ngModelChange)="onSearch($event)" matInput placeholder="Cancion">
    </mat-form-field>

    <mat-list role="list" class="songs-list">
        <mat-list-item  role="songItem" 
                        *ngFor="let song of songs; let ind = index" 
                        (click)="onClickSong(song)"
                        
        >
            {{ song.name }}
        </mat-list-item>
    </mat-list>
</div>

<div *ngIf="!(songs && nameCurrentArtist && songs.length > 0)" class="spinner-container">
    <spinner-item></spinner-item>
</div>