<div class="artists">

    <div class="fav-container">

        <div 
            [ngClass]="{'fav-list': true, 'fav-list-open': isFavOpen, 'third': false}"
            >
            <div
                *ngFor="let fav of favorites"
                class="fav-item"
                > 
                {{ fav.artist }}, {{fav.name }}
                <div
                    class="fav-versiones-container">
                    <!-- Acá se pone mousedown en vez de div para que dispare antes que el blur/click del btn-fav-container -->
                    <div
                        *ngFor="let ver of fav.versions"
                        (mousedown)="openFavorite(fav, ver)"
                        class="fav-subitem">
                        {{ acordesService.getInstruDescrip(ver.sheetType) }}
                    </div>
                </div>
            </div>
        </div>

        <div
            (click)="isFavOpen = !isFavOpen" 
            (blur)="isFavOpen = !isFavOpen" 
            tabindex="1"
            class="btn-fav-container"
            >
            <i class="fas fa-star"></i>
        </div>
    </div>

    <div class="content">
        <!-- TODO: Comentado en CN, después descomento -->
        <div class="title-container">
            <div class="a">A</div>
            <div>cordes</div>
            <div class="facil">Facil</div>
        </div>

        <router-outlet></router-outlet>

    </div>
<!-- 
    <div class="test-container">
        <button (click)="test()">
            Test
        </button>
    </div> -->

</div>