<div class="artists">

    <div class="fav-container">

        <div 
            [ngClass]="{'fav-list': true, 'fav-list-open': isFavOpen, 'third': false}"
            >
            <div
                *ngFor="let fav of favorites"
                (click)="openFavorite(fav)" 
                class="fav-item"
                > 
                fa
                <!-- { fav }  -->
            </div>
        </div>

        <div
            (click)="isFavOpen = !isFavOpen" 
            (blur)="isFavOpen = !isFavOpen" 
            tabindex="1"
            class="btn-fav-container"
            >
            <i class="fas fa-star"></i>
        </div>
    </div>

    <div class="content">
        <!-- TODO: Comentado en CN, después descomento -->
        <div class="title-container">
            <div class="a">A</div>
            <div>cordes</div>
            <div class="facil">Facil</div>
        </div>

        <router-outlet></router-outlet>

    </div>
</div>