<div *ngIf="currentSongInfo && selectedVersion" class="versions">

    <div class="versions-content">

        <div class="badges-container">
            <badge-item [text]="currentSongInfo.artist"></badge-item>
            <badge-item [text]="currentSongInfo.name"></badge-item>
        </div>

        <div class="options-container">
            <div class="utils-container">
                <div class="utils-section">
                    <div (click)="onClickPlay()" class="utils-item" style="font-size: 1.364rem;">
                        <i *ngIf="!isPlaying" class="fas fa-play-circle"></i>
                        <i *ngIf="isPlaying" class="fas fa-pause-circle"></i>
                    </div>
    
                    <div *ngIf="isPlaying" class="velocity-container">
                        <i (click)="this.slidingVelocity = this.slidingVelocity - .2" class="fas fa-minus"></i>
                        <p>{{ 
                            utilsService.parseDecimal(this.slidingVelocity)
                        }}</p>
                        <i (click)="this.slidingVelocity = this.slidingVelocity + .2" class="fas fa-plus"></i>
                    </div>
                </div>
                <div class="utils-section">
                    <!-- <div (click)="test = !test" class="utils-item" style="margin: 10.8px 0 0 0;">
                        <a class="version-item note-selected">T</a>
                    </div> -->
                    
                    <div (click)="test = !test" class="utils-item" style="margin: 10.8px 0 0 0;">
                        <i class="fas fa-music version-item note-selected"></i>
                    </div>
    
                    <div *ngIf="test" class="velocity-container">
                        <i (click)="this.slidingVelocity = this.slidingVelocity - .2" class="fas fa-minus"></i>
                        <p>{{ 
                            utilsService.parseDecimal(this.slidingVelocity)
                        }}</p>
                        <i (click)="this.slidingVelocity = this.slidingVelocity + .2" class="fas fa-plus"></i>
                    </div>
                </div>
            </div>

            <div class="menu-right">
                <div class="versions-select-container">
                    <div    *ngFor="let ver of versions" 
                            (click)="onChangeVersion(ver)" 
                            class="version-item"
                            [ngClass]="{'version-item': true, 'version-item-select': selectedVersion.idPartitura === ver.idPartitura.toString()}"
                            >
                        {{ 
                            ver.sheetType === 'H' ? 'V' :
                            ver.sheetType === 'K' ? 'P' :
                            ver.sheetType === 'R' ? 'G' :
                            ver.sheetType
                        }}
                    </div>
                    
                </div>

                <div class="divider right-item"> | </div>

                <!-- *ngIf="localStorageService.getIfVersionIsInFav(selectedVersion, currentSongInfo)" -->
                <div (click)="onClickAddFavorito()" class="btn-fav-add right-item">
                    <i *ngIf="!localStorageService.getIfVersionIsInFav(selectedVersion, currentSongInfo)" class="far fa-star"></i>
                    <i *ngIf="localStorageService.getIfVersionIsInFav(selectedVersion, currentSongInfo)" class="fas fa-star"></i>
                </div>

            </div>

        </div>

        <!-- Partitura -->
        <div #sheetContainer class="sheet-container" [innerHTML]="selectedVersion.body"></div>

    </div>
</div>

<div *ngIf="!(currentSongInfo && selectedVersion)" class="spinner-container">
    <spinner-item></spinner-item>
</div>