@import "../../variables.scss";

.versions {
    .versions-content {
        margin: 0 1%;

        .badges-container {                                                                                                                                                                                                                                                                                                                                                                                     
            display: flex;
            padding: 10px 0;
            overflow: auto;
        }
    
        .sheet-container {
            /deep/ pre {

                white-space: pre-wrap;
                word-wrap: break-word;
                text-align: justify;
                font-size: 0.94em;
                padding-left: 1px;
                border-left: 0.3rem solid #ddd0a0;

                > a {
                    cursor: pointer;

                    // color: $primary;
                    color: #dfae5d;
                }
            }
            
        }
        
    }
}